%title {
  text-transform: uppercase;
}

.title {
  &-small {
    @extend %title;
    letter-spacing: 0.5rem;
    font-size: 1.7rem;
  }
}

.text {
  &-primary {
    color: var(--primary);
  }
  &-hint {
    color: var(--hint);
  }
}

.mb-6 {
    margin-bottom: 6rem;
}

.mb-2 {
  margin-bottom: 2rem !important;
}