:root {
    // font-family
    --font-family: "Mulish", sans-serif;
    
    // color
    --light: #00c3ff;
    --primary: #2071e7;
    --dark: #2980b9;
    --text: #333;
    --background: #fafafa;
    --hint: #999;
    --faint: #ddd;
}

$skills : (
    html: 90%,
    scss: 80%,
    javascript: 50%,
    cpp: 60%,
    python: 85%,
    docker: 40%,
    java: 45%
)